<div class="container">
  <!-- <div class="row"> -->
  <div class=" raffle">
    <h2><%= raffle.title %></h2>
    <p><strong>Item:</strong><%= raffle.item%></p>
    <p><strong>Goal:</strong><%= number_to_currency(raffle.goal) %></p>
    <p><strong>Cost:</strong><%= number_to_currency(raffle.cost) %></p>
  </div>
  <!-- </div> -->
</div>