<% if !@raffles.empty? %> 
  <div class="raffle-set">
    <% @raffles.each do |raffle| %>
      <%= render partial: 'raffles/raffles', locals: {raffle: raffle} %>
    <% end %>
  </div>
<% else %>
  <p style="text-align: center;"><%= @message %></p>
<% end %>