<ul>
  <% @raffles.each do |raffle| %>
    <li><%= link_to raffle.title, raffle_path(raffle) %> Goal: <%= raffle.goal %> <%= link_to "edit", edit_raffle_path(raffle) if current_user == raffle.user %></li>
  <% end %>
</ul>