<% if !@raffles.empty? %>
  <%= render partial: 'raffles/raffles', locals: {raffles: @raffles} %>
  <%= paginate @raffles %>
<% else %>
  <div style="text-align: center;">
    <h2>You are not entered in any raffles </h2>
    <br>
    <h2>Enter a raffle <%= link_to "here.", browse_path %></h2>
  </div>
<% end %>