<div class="container root">
  <div class="row justify-content-around align-items-center">
    <div class="col-lg-4">
      <h3>
        Welcome to Razzle Dazzle! Where users can create and participate in many raffles!
      </h3>
    </div>
    <div class="col-lg-4 user-reg">
      <%= link_to "login", new_user_session_path, class: "btn btn-primary form-btn" %> 
      <p>or</p>
      <%= link_to "Create account", new_user_registration_path, class: "btn btn-success form-btn" %>
    </div>
  </div>
</div>

